
<body>
    
<h1>PROYECTOS</h1>
<p> </p>

<div class="row">

    <div class="card col-sm-4 m-2 p-0" style="width: 18rem;">
        <%= image_tag("design.jpg", class: "card-img-top", alt: "pagina de diseño") %>
        <div class="card-body">
            <p class="card-text">Elegancia y estilo en diseño de interiores.</p>
        </div>
        <div class="card-footer text-center">
            <a href="#" class="card-link btn btn-outline-info color">Ver más</a>

        </div>
    
    </div>

    <div class="card col-sm-4 m-2 p-0" style="width: 18rem;">
        <%= image_tag("restaurant.jpg", class: "card-img-top", alt: "pagina de restaurant") %>
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <div class="card-footer text-center">
            <a href="#" class="card-link btn btn-outline-info color">Ver más</a>
        </div>
    </div>

    <div class="card col-sm-4 m-2 p-0" style="width: 18rem;">
        <%= image_tag("ropa.webp", class: "card-img-top", alt: "pagina de ropa") %>
        <div class="card-body">
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
        <div class="card-footer text-center">
            <a href="#" class="card-link btn btn-outline-info color">Ver más</a>
        </div>
    </div>
    <div class="card col-sm-4 m-2 p-0" style="width: 18rem;">
    <%= image_tag("sports.jpg", class: "card-img-top", alt: "pagina de deportes") %>
    <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
    <div class="card-footer text-center">
        <a href="#" class="card-link btn btn-outline-info color">Ver más</a>
    </div>
</div>
</div>
</body>

